:root {
  --dark-purple: #464159;
  --light-mint: #c7f0db;
  --light-blue: #8bbabb;
  --purple: #6c7b95;
}

body {
  background-color: var(--dark-purple);
  box-sizing: border-box;
}

.wrapper {
  margin: 70px auto;
  width: 80%;
}

table {
  padding: 3%;
  margin: 0 auto;

  font-size: 20px;
  color: var(--light-mint);
}

td, th {
  min-width: 200px;
  padding: 10px;

  border-radius: 5px;
  color:var(--dark-purple);
  text-align: center;
}

tr:nth-child(odd) {
  background-color: var(--light-blue);
}

tr:nth-child(even) {
  background-color:var(--purple);
}

input[type=text] {
  display: block;
  width: 90%;
  height: 30px;
  padding: 5px;
  margin: 10px auto;
  background-color: var(--light-mint);
  border-radius: 5px;

  color: var(--dark-purple);
  font-size: 24px;
}